@page
@model SacramentMeetingPlanner.Pages.Speakers.IndexModel

@{
    ViewData["Title"] = "Speakers";
}

<h1>Speakers</h1>

<p>
    <a asp-page="Create">Add New Speaker</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table table-hover">
    <thead>
        <tr class="table-info">
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                @Html.DisplayNameFor(model => model.Speaker[0].Name)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TopicSort">
                @Html.DisplayNameFor(model => model.Speaker[0].Topic)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Speaker) 
        {
            <tr class="table-light">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SpeakerID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SpeakerID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SpeakerID">Delete</a>
            </td>
            </tr>
        }
    </tbody>
</table>
