@page
@model SacramentMeetingPlanner.Pages.Meetings.IndexModel

@{
    ViewData["Title"] = "White Oak Ward Meetings";
}

<h1>White Oak Ward Meetings</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
        </div>
</form>

<table class="table table-hover">
    <thead>
        <tr class="table-info">
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.Meeting[0].MeetingDate)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.Meeting[0].Conducting)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].NumSpeakers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Meeting) {
        <tr class="table-light">
            <td>
                @Html.DisplayFor(modelItem => item.MeetingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conducting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumSpeakers)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MeetingID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MeetingID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MeetingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
